body {
    background-color: aquamarine;
}

.container {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lalos {
    display: flex;
    flex-direction: row;
}

.art {
    display: flex;
    flex-direction: row;
}

.photo {
    max-width: 100%;
}

.icon {
    height: 200px;
}


.cell img {
    width: 100%;
    display: block;
    border: solid black 2px;
}